## Hardened by Santosh Pandit, Beatquantum Labs
## Inspired by sshaudit.com - Thank you, Joe.
## Inspired by lynis - Thank you, Michael.
## Inspired by STIG guidance - Thank you, STIG team.
## Please fully test in development environment before using on production.
## I take no responsibility for any losses or system problems.


## I suggest you change the line below to allow which users should have access.
## Best practice removes root and admin; but make sure you have sudoers set up first!
AllowUsers root nonroot

Include /etc/ssh/sshd_config.d/*.conf

# Choose your own port of preference other than port 22
Port 49022

HostKey /etc/ssh/ssh_host_ed25519_key
LogLevel VERBOSE
PermitRootLogin without-password
StrictModes yes
MaxAuthTries 3
MaxSessions 2

IgnoreRhosts yes
ChallengeResponseAuthentication no

AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
PrintMotd no
TCPKeepAlive no
Compression no
ClientAliveCountMax 2

AcceptEnv LANG LC_*
Subsystem       sftp    /usr/lib/openssh/sftp-server

KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com
MACs hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com
HostKeyAlgorithms ssh-ed25519,ssh-ed25519-cert-v01@openssh.com,sk-ssh-ed25519@openssh.com,sk-ssh-ed25519-cert-v01@openssh.com
